.kronos-top-block-container{
    min-height: 600px;
}

.kronos-logo{
    max-width: 200px;
    max-height: 60px;
}

.navbar-toggler-icon{
    display: none;
}

.kronos-button{
    padding: 10px 24px;
    border-radius: 5px;
    border-color: #f7941e;
    color: #f7941e;
    width: max-content;
    background: transparent;
    margin-left: 40px;
    font-size: 1.25rem;
}

.kronos-button:hover{
    background: #f7941e;
    color: white;
}

.navbar-brand{
    font-size: 2.25rem;
}

.navbar .container-fluid{
    padding: 0 120px;
    color: white;
}

.nav-link, 
.navbar-brand{
    color: white !important;
}

.kronos-block-container{
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.kronos-block-inner-container{
    padding: 0 120px;
    display: grid;
    grid-row-gap: 40px;
}

.kronos-position-absolute{
    position: absolute;
    right: 0;
}

.kronos-top-left-border {
    border-left: solid 1px #f7941e;
    position: absolute;
    top: 143px;
    border-top: solid 1px #f7941e;
    width: 120px;
    height: 110px;
}

.kronos-heading-block{
    padding-left: 40px;
    padding-top: 40px;
}

.kronos-desc-block{
    padding-left: 40px;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
    background: #30193f;
    opacity: 0.9;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing{
    background: #30193f;
    opacity: 0.97;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing,
.navbar-collapse.collapse{
    padding: 0 20px;
}

@media screen and (max-width: 1240px){
    .navbar-toggler-icon{
        display: unset;
    }

    .navbar-toggler-icon svg{
        stroke: white;
        fill: white;
    }
}

@media screen and (max-width: 1024px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 90px;
    }
}

@media screen and (max-width: 940px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 40px;
    }
}

@media screen and (max-width: 700px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 20px;
    }

    .kronos-heading-block{
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .kronos-desc-block{
        padding-left: 20px;
    }

    .kronos-button{
        margin-left: 20px;
    }
}