.navbar .container-fluid{
    padding: 0 120px;
}

@media screen and (max-width: 1024px){
    .navbar .container-fluid{
        padding: 0 90px;
    }
}

@media screen and (max-width: 940px){
    .navbar .container-fluid{
        padding: 0 60px;
    }
}