.kronos-top-block-container{
    min-height: 600px;
}

.kronos-logo{
    max-width: 200px;
    max-height: 60px;
}

.navbar-toggler-icon{
    display: none;
}

.kronos-button{
    padding: 10px 24px;  
    width: max-content; 
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar-brand{
    font-size: 2.25rem;
}

.navbar .container-fluid{
    padding: 0 120px;
    color: white;
    
}

.nav-link, 
.navbar-brand{
    color: white !important;
}

.kronos-block-container{
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.kronos-block-inner-container{
    padding: 0 120px;
    display: grid;
    grid-row-gap: 40px;
}

.kronos-position-absolute{
    position: absolute;
    right: 0;
}

.kronos-top-left-border {
    border-left: solid 1px #f7941e;
    position: absolute;
    top: 143px;
    border-top: solid 1px #f7941e;
    width: 120px;
    height: 110px;
}

.kronos-heading-block{
    padding-left: 40px;
    padding-top: 40px;
}

.kronos-desc-block{
    padding-left: 40px;
    font-size: 1.25rem;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar.scrolled-up .kronos-logo.sticky{
    display: block;
}

.navbar.scrolled-up .kronos-logo{
    display: none;
}

.kronos-logo.sticky{
    display: none;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background: #fafafa;
    opacity: 0.96;
    border-bottom: solid 1px #e0e0e1;
}

.show .btn-outline-light,
.collapsing .btn-outline-light,
.scrolled-up .btn-outline-light{
    background: #014FC6;
}

.scrolled-up .btn-outline-light:hover {
    color: #f8f9fa;
}

.navbar-light .show>.navbar-nav .nav-link,
.navbar-light .show>.navbar-nav .nav-link,
.navbar-light .collapsing>.navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link{
    color: black !important;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing{
    background: #fafafa;
    opacity: 0.97;
}

.navbar-collapse.collapse.show .btn-outline-light,
.navbar-collapse.collapsing .btn-outline-light{
    margin-bottom: 20px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing,
.navbar-collapse.collapse{
    padding: 0 20px;
}

/* Events-Cards Section */
.kronos-events-cards{
    width: auto;
}
.kronos-event-heading{
    padding-top: 3.5%;
    text-align: center;
    font-size: 3.5rem;
}
.card:hover{
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}
.cards{
    padding: 4% 7%;
    text-align: center;
}
.col-card{
    padding: 0 2.8%;
}

.card{
    background-color: #f1f1f1;
}

.card-text{
    color: #878787;
}

#about-us {
    width: 100%;
}

#events {
    background: #014FC6;
    margin-top: 0;
    width: 100%;
    align-content: center;
    text-align: center;
    padding-bottom: 4%;
}

.events-con {
    padding-top: 5%;
}

.abt-us-img {
    max-height: 600px;
    max-width: 500px;
    border-radius: 25px 60px 25px 60px ;
    width: 100%;
}

.abt-us {
    margin-top: 5%;
    padding-right: 2%;
}

.row {
    padding: 3% 5% 6%;
    margin-left: auto;
    margin-right: auto;
}

.italic-blue {
    font-style: italic;
    color:#56c5d0;
    font-weight: 800;
}

.abt-us-heading {
    color: #014FC6;
    font-size: 3rem;
    font-weight: 800;
    font-style: normal;  
}

.a {
    font-size: 1.25 rem;
    text-align: justify;
}

.event-heading {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4.75%;
    color: antiquewhite;
    animation-name: headingup;
    animation-duration: 0.6s;
}

.carousel-control-prev {
    color: #383e56;
}

.carousel-control-next {
    color: #383e56;
}

.card-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.event-card {
    margin: 2% 2%;
    border-radius: 20px 20px 20px 20px;
}

.caro-pic {
    width: 75%;
    margin-bottom: 4%;
}

.card-img-top{ 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#upcoming-events {
    background-color: white;
    margin-top: 0;
    text-align: center;
}

.up-kronos-event-heading {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 4.75%;
    color: #3b1d48;
    animation-name: headingup;
    animation-duration: 0.6s;
}

.kronos-h1 {
    font-weight: 800;
    font-size: 3rem;
}

.card-body {
    padding: 1.4rem 1.4rem;
}

.modal-open .modal{
    background: rgba(51,51,51,.5);
}

.close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close {
    padding: 1rem;
    margin: -1.2rem -1rem -1rem auto;
}

.kronos-clamp-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.modal .modal-dialog{
    margin: auto auto;
}

/* ---- Footer Section ----*/

.page-footer{
    /* background-color:#56585c; */
    background-color: #f9f9fa;
    color: black !important;
}

.page-footer a{
    color: black !important;
    text-decoration: unset;
} 

.page-footer .back{
    padding: 20px 0 15px;
} 

.page-footer .back .row{
    padding: 0 !important;
} 

.page-footer .back a{
    /* color: white !important; */
    text-decoration: unset;
    padding: 0 30px;
} 

/* .back{
    background-image: linear-gradient(to right, rgba(44, 150, 221, 0.904), rgba(26, 38, 218, 0.884));
    background: linear-gradient(90deg,rgba(24, 150, 204, 0.863) 30%, rgba(20,103,199,1) 50%,  rgba(13, 5, 124, 0.897) 100%);
} */

.bg-primary .container{
    background-color:rgba(37, 37, 37, 0.671);
}

.end-container h4{
    font-family:monospace;
    font-size:30px;
}

.hr-bg{
    background-color:#014FC6;
    opacity: 1 !important;
}

.back i{
    font-size:25px;
}
.back i:hover{
    font-size: 31px;
    
}

/* .kronos-footer-link-column{
    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: 10px;
} */

.kronos-footer-link-column i{
    padding-top: 5px;
    padding-right: 5px;
}

.page-footer .row {
    padding: 3% 5% 0%;
}

.kronos-copyright-text{
    padding: 0px 15px 15px;
}

.navbar-light .navbar-toggler-icon{
    background-image: none;
}

@keyframes headingup{
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@media screen and (max-width: 1240px){
    .navbar-toggler-icon{
        display: unset;
    }

    .navbar-toggler-icon svg{
        stroke: white;
        fill: white;
    }

    .scrolled-up .navbar-toggler-icon svg{
        stroke: black;
        fill: black;
    }
}

@media screen and (max-width: 1024px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 90px;
    }
}

@media screen and (max-width: 990px){
    .navbar-collapse{
        max-width: 340px;
        position: absolute;
        top: 74px;
        right: 100px;
    }
}

@media screen and (max-width: 940px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 40px;
    }

    .navbar-collapse{
        right: 50px;
    }

    .page-footer .row {
        padding: 7% 5% 3%;
    }
}

@media screen and (max-width: 700px){
    .navbar .container-fluid,
    .kronos-block-inner-container{
        padding: 0 20px;
    }

    .kronos-heading-block{
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .kronos-desc-block{
        padding-left: 20px;
    }

    .kronos-button{
        margin-left: 20px;
    }

    .navbar-collapse{
        right: 20px;
    }

    .kronos-clamp-desc{
        -webkit-line-clamp: 4;
    }

    .page-footer .back a {
        padding: 0 25px;
    }
}

@media screen and (max-width: 460px){
    .kronos-position-absolute{
        width: 140px;
        height: 100px;
    }

    .navbar-collapse{
        max-width: 90%;
        right: 20px;
    }

    .events-con,
    .kronos-event-heading{
        padding-top: 8%;
    }

    .event-heading,
    .kronos-event-heading{
        font-size: 2rem;
    }

    .carousel-control-next, .carousel-control-prev{
        display: none;
    }

    .carousel-indicators{
        margin-bottom: -1rem;
    }

    .caro-pic{
        width: 90%;
    }

    #events{
        padding-bottom: 10%;
    }

    .page-footer .back a {
        padding: 0 12px;
    }

    .page-footer hr:not([size]) {
        margin-bottom: 0 !important;
    }
}