.kronos-site {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.animated {
    max-width: 35%;
    margin-top: 5%;
    margin-right: 7%;
    float: right;
}

#top-main {
    overflow: hidden;
}


/*NAVBAR CSS*/

.kronos-top-block-container {
    min-height: 850px;
    background-image: url("../../assets/images/Banner_bg.png");
    background-size: cover;
}

.kronos-logo {
    height: 26px;
    width: auto;
    max-width: 181px;
    max-height: 80px;
}

.navbar-toggler-icon {
    display: none;
}

.navbar.scrolled-up .kronos-logo.sticky {
    display: block;
}

.navbar.scrolled-up .kronos-logo {
    display: none;
}

.kronos-logo.sticky {
    display: none;
}

.navbar-light .show>.navbar-nav .nav-link,
.navbar-light .show>.navbar-nav .nav-link,
.navbar-light .collapsing>.navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link,
.scrolled-up.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.nav-link {
    font-weight: 400;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
    border-radius: 0 0 16px 16px;
    box-shadow: 0 5.8px 5.2px rgba(0, 0, 0, 0.034), 0 8.7px 7.3px rgba(0, 0, 0, 0.048), 0 15.5px 12px rgba(0, 0, 0, 0.06), 0 25.3px 19.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background: #f6fbff;
}

.navbar-collapse.collapse.show .btn-outline-light,
.navbar-collapse.collapsing .btn-outline-light {
    margin-bottom: 20px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing,
.navbar-collapse.collapse {
    padding: 0 20px;
}

.kronos-button {
    padding: 10px 24px;
    width: max-content;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar-brand {
    font-size: 2.25rem;
}

.navbar .container-fluid {
    padding: 0 90px;
    color: white;
}

.card {
    cursor: pointer;
}

.nav-link,
.navbar-brand {
    color: white !important;
}

.nav-item {
    margin-right: 1.3em;
}


/*BLOCK CONTAINER CSS*/

.kronos-block-container {
    padding-top: 60px;
    padding-bottom: 60px;
    color: black;
}

.kronos-block-inner-container {
    padding: 0 120px;
    display: grid;
    grid-row-gap: 100px;
}

.kronos-position-absolute {
    position: absolute;
    right: 0;
}

.kronos-banner-logo {
    width: 55%;
    height: auto;
    padding-bottom: 5.5px;
}

.kronos-heading-block {
    padding-left: 40px;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.kronos-desc-block {
    padding-left: 40px;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.hide-arrow {
    display: none;
}


/* hackCBS Section */

#hackCBS {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 40px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #fdfeff, #d3dff1, #fdfeff);
}

.hackCBS_heading {
    font-size: 2.75rem;
    text-align: center;
    margin-top: 2%;
    font-weight: 800;
    color: #0552c7;
}

.hackCBS-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hackCBS-logo {
    width: 85%;
}

.logo-mobile {
    display: none;
}

.hackCBS-image-container {
    position: absolute;
    opacity: 0.09;
    top: -32%;
    left: 23%;
    width: 65%;
}

.hackCBS-content {
    flex: 2;
    padding: 40px;
    font-size: 1.20rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 800;
}

.stat-icons {
    font-size: 70px;
    color: rgba(51, 51, 51, .5)
}

.stat-counts {
    font-size: 40px;
    font-weight: 720;
}

.stats h5 {
    font-weight: 720;
    margin-bottom: 4rem;
    line-height: 1.5rem;
}


/* Events-Cards Section */

.kronos-events-cards {
    width: auto;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.kronos-event-heading {
    padding-top: 70px;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #014FC6;
    font-weight: 600;
}

.card:hover {
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    transform: scale(1.02, 1.02);
}

.cards {
    padding: 4% 7%;
    text-align: center;
}

.col-card {
    padding: 0 2.8%;
}

.card {
    background-color: #f1f1f1;
}

.card-text {
    color: #878787;
    font-weight: 400;
}

#about-us {
    width: 100%;
    margin-top: 5%;
}

#events {
    width: 100%;
    align-content: center;
    text-align: center;
    /* padding-bottom: 4%; */
}

.abt-us-img {
    max-height: 600px;
    max-width: 500px;
    width: 100%;
    margin-left: 7%;
}

.abt-us {
    padding-right: 2%;
}

.row {
    padding: 3% 5% 3%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

.italic-blue {
    font-style: italic;
    color: #56c5d0;
    font-weight: 800;
}

.abt-us-heading {
    color: #014FC6;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.a {
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
}

.event-heading {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4.75%;
    color: antiquewhite;
    animation-name: headingup;
    animation-duration: 0.6s;
}

.carousel-control-prev {
    color: #383e56;
}

.carousel-control-next {
    color: #383e56;
}

.card-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.event-card {
    margin: 2% 2%;
    border-radius: 20px 20px 20px 20px;
}

.caro-pic {
    width: 75%;
    margin-bottom: 6%;
    height: auto;
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#upcoming-events {
    background-color: white;
    margin-top: 0;
    text-align: center;
}

.up-kronos-event-heading {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4.75%;
    color: #3b1d48;
    animation-name: headingup;
    animation-duration: 0.6s;
}

.kronos-h1 {
    font-weight: 700;
    font-size: 33px;
}

.card-body {
    padding: 1.4rem 1.4rem;
}

.modal-open .modal {
    background: rgba(51, 51, 51, .5);
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close {
    padding: 1rem;
    margin: -1.2rem -1rem -1rem auto;
}

.kronos-clamp-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.modal .modal-dialog {
    margin: auto auto;
}


/* ---- Footer Section ----*/

footer.page-footer,
.page-footer {
    background-image: linear-gradient(to bottom, #fdfeff, #d3dff1, #a6c1e9);
    color: black !important;
}

.page-footer a {
    color: black !important;
    text-decoration: unset;
}

.page-footer .back {
    padding: 20px 0 15px;
}

.page-footer .back .row {
    padding: 0 !important;
}

.page-footer .back a {
    /* color: white !important; */
    text-decoration: unset;
    padding: 0 30px;
}

.bg-primary .container {
    background-color: rgba(37, 37, 37, 0.671);
}

.end-container h4 {
    font-family: monospace;
    font-size: 30px;
}

.hr-bg {
    background-color: #014FC6;
    opacity: 1 !important;
}

.social-media-button i {
    font-size: 20px;
}

.fa-twitter:hover {
    font-size: 26px;
    color: #00ACEE;
}

.fa-linkedin-in:hover {
    font-size: 26px;
    color: #0077b5;
}

.fa-youtube:hover {
    font-size: 26px;
    color: #FF0000;
}

.fa-facebook-f:hover {
    font-size: 26px;
    color: #1240a3;
}

.fa-instagram:hover {
    font-size: 26px;
    color: #c23aab;
}

.kronos-footer-link-column i {
    padding-top: 5px;
    padding-right: 5px;
}

.page-footer .row {
    padding: 3% 5% 0%;
}

.kronos-copyright-text {
    padding: 0px 15px 15px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.take-up-arrow {
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 65px;
}

.arrow-up {
    border-radius: 50%;
    width: 65px;
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(57, 193, 218);
}

#events {
    overflow: hidden;
    position: relative;
}

.curve-background {
    fill: #f5f5f5;
    width: 145%;
    height: 104px;
    position: absolute;
    top: -10px;
    left: 0;
}

.slash-background {
    fill: #fff;
    width: 120%;
    height: 104px;
    position: absolute;
    top: -20px;
    left: 0;
}

#events .container-fluid {
    padding-top: 40px;
}

@keyframes headingup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 13px;
    color: rgb(100, 100, 100);
    border-radius: 20px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

*::-webkit-scrollbar-track {
    color: rgba(0, 0, 0, 0.159);
    box-shadow: inset 0 0 0 10px;
}

@media screen and (max-width: 1380px) {
    .hackCBS-image-container {
        top: -22%;
        left: 20%;
        width: 70%;
    }
}

@media screen and (max-width: 1240px) {
    .navbar-toggler-icon {
        display: unset;
    }
    .navbar-toggler-icon svg {
        stroke: white;
        fill: white;
    }
    .scrolled-up .navbar-toggler-icon svg {
        stroke: black;
        fill: black;
    }
    #events .container-fluid {
        padding-top: 0px;
        height: auto;
        padding-left: 60px;
        padding-right: 60px;
    }
    .caro-pic {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1180px) {
    .hackCBS-image-container {
        top: -22%;
        left: 12%;
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .navbar .container-fluid,
    .kronos-block-inner-container {
        padding: 0 90px;
    }
    #events .container-fluid {
        padding-top: 80px;
    }
    .hackCBS-content {
        max-width: 80%;
    }
    .hackCBS-image-container {
        width: 80%;
    }
    .hackCBS-image-container img {
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .navbar-collapse {
        max-width: 340px;
        position: absolute;
        top: 80px;
        right: 100px;
    }
    .animated {
        margin-top: 10%;
        margin-right: 6%;
        max-width: 54%;
    }
    .kronos-desc-block {
        width: 22rem;
    }
    .hackCBS-image-container {
        top: -20%;
        left: 6%;
        width: 90%;
    }
}

@media screen and (max-width: 940px) {
    .navbar .container-fluid,
    .kronos-block-inner-container {
        padding: 0 40px;
    }
    .navbar-collapse {
        right: 50px;
    }
    .page-footer .row {
        padding: 7% 5% 3%;
    }
    .animated {
        margin-top: 71px;
    }
    .kronos-heading-block {
        padding-left: 0px;
    }
    .kronos-h1 {
        width: 26rem;
    }
    #events .container-fluid {
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .hackCBS-content {
        max-width: 90%;
    }
}

@media screen and (max-width: 820px) {
    .hackCBS-image-container {
        top: -5%;
        left: 6%;
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .navbar .container-fluid,
    .kronos-block-inner-container {
        padding: 0 20px;
        width: 100%;
    }
    .kronos-heading-block {
        padding-left: 0px;
        padding-top: 20px;
        margin-top: -13rem;
    }
    .kronos-desc-block {
        padding-left: 20px;
    }
    .kronos-button {
        margin-left: 20px;
    }
    .navbar-collapse {
        right: 20px;
    }
    .kronos-clamp-desc {
        -webkit-line-clamp: 4;
    }
    .page-footer .back a {
        padding: 0 25px;
    }
    .take-up-arrow {
        width: 50px;
    }
    .arrow-up {
        border-radius: 50%;
        width: 50px;
    }
    /* .animated {
        margin-top: 20%;
        margin-right: 14%;
        max-width: 65%;
    } */
    .kronos-top-block-container {
        min-height: 750px;
    }
    .abt-us-heading {
        font-size: 2.5rem;
    }
    .curve-background {
        width: 170%;
        height: 84px;
        top: -7px;
    }
    .navbar-collapse .btn-outline-light {
        background: #0d6efd!important;
    }
    .hackCBS-image-container {
        top: 10%;
        left: 6%;
        width: 90%;
    }
}


/* @media screen and (max-width: 460px) {
    .kronos-logo {
        max-width: 230px;
    }
    .kronos-h1 {
        font-size: 2rem;
    }
    .kronos-position-absolute {
        width: 140px;
        height: 100px;
    }
    .navbar-collapse {
        max-width: 100%;
        right: 0px;
        top: 80px;
    }
    .events-con {
        padding-top: 4%;
    }
    .kronos-event-heading {
        padding-top: 16%;
    }
    .event-heading,
    .kronos-event-heading {
        font-size: 2rem;
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
    .carousel-indicators {
        margin-bottom: -1rem;
    }
    .caro-pic {
        width: 90%;
    }
    #events {
        padding-bottom: 10%;
    }
    .page-footer .back a {
        padding: 0 12px;
    }
    .page-footer hr:not([size]) {
        margin-bottom: 0 !important;
    }
   
} */


/* @media screen and (min-width: 310px) and (max-width:459px) {
    .kronos-logo {
        max-width: 180px;
    }
} */

@media screen and (max-width: 640px) {
    .animated {
        display: none;
    }
    .kronos-top-block-container {
        background-image: url('../../assets/images/image.jpg');
    }
    .kronos-heading-block {
        margin-top: 0rem;
    }
    .hackCBS-content {
        max-width: 100%;
        padding: 30px;
    }
    .hackCBS-image-container {
        top: 25%;
        left: 6%;
        width: 90%;
    }
}

@media screen and (max-width: 1186px) {
    .animated {
        max-width: 52%;
    }
    .kronos-h1 {
        width: 30rem;
        font-size: 42px;
    }
    .kronos-block-inner-container {
        padding: 0 51px;
    }
}

@media screen and (max-width: 898px) {
    .animated {
        margin-right: 0%;
    }
    .kronos-block-inner-container {
        padding: 0 26px;
    }
    #events .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 460px) {
    .kronos-h1 {
        font-size: 2rem;
    }
    .kronos-block-inner-container {
        padding: 0px 10px;
    }
    #events .container-fluid {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px;
    }
    .hackCBS-image-container.logo-mobile {
        display: block;
        position: unset;
        width: 50%;
        opacity: 1;
        margin: auto;
    }
    .hackCBS_heading {
        font-size: 2rem;
    }
    .hackCBS-image-container.logo-desktop {
        display: none;
    }
}

@media screen and (max-width: 1496px) {
    .kronos-banner-logo {
        width: 68%;
    }
}

@media screen and (max-width:400px) {
    .kronos-top-block-container {
        background-image: url(../../assets/images/Banner.jpeg);
    }
    .kronos-logo {
        height: 18px;
    }
    .navbar-brand {
        font-size: 1.25rem;
    }
    .kronos-block-inner-container {
        grid-row-gap: 39px;
    }
}

@media screen and (max-width:350px) {
    .kronos-banner-logo {
        width: 55%;
    }
    .kronos-h1 {
        font-size: 1.5rem;
    }
}