.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.team-heading {
    text-align: center;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.team-cards-responsive {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.team-cards-responsive-oc {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}

.team-cards-oc {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}

.members-cards {
    width: 250px !important;
    margin-top: 80px;
    height: 250px;
    text-align: center;
}

.members-cards-year2,
.members-cards-year3 {
    width: 350px !important;
    margin-top: 80px;
    height: 250px;
    text-align: center;
}

.members-cards .card,
.members-cards-year2 .card,
.members-cards-year3 .card {
    border-radius: 5px;
    background-color: #FFF;
    /* min-height: 220px; */
}

.members-cards .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
    /* box-shadow: 5px 12px 18px #863fc0; */
}

.members-cards-year2 .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
    /*box-shadow: 5px 12px 18px #B23850; */
}

.members-cards-year3 .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
    /* box-shadow: 5px 12px 18px #fd7e14;*/
}

.members-cards .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
    /* box-shadow: 5px 12px 18px #863fc0c5; */
}

.members-cards-year2 .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
    /* box-shadow: 5px 12px 18px #e05a75; */
}

.members-cards-year3 .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
    /* box-shadow: 5px 12px 18px #fd7d14d7; */
}

.card-title {
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
}

.kronos-teampage .navbar {
    background: #fafafa;
}

.kronos-teampage .kronos-page-container {
    padding-top: 140px;
}


/* .kronos-teampage .navbar .container-fluid {
  padding: 0 90px;
} */

.member-images-year3 {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 100px;
    object-fit: cover;
    border-radius: 100px;
    border: 10px solid transparent;
    background: linear-gradient(45deg, red, rgb(43, 43, 161)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.member-images-year2 {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 100px;
    object-fit: cover;
    border: 4px;
    border-radius: 100px;
    border: 10px solid transparent;
    background: linear-gradient(45deg, rgb(50, 21, 216), rgb(12, 230, 84)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.member-images {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: -70px;
    object-fit: cover;
    border-radius: 100px;
    border: 10px solid transparent;
    background: linear-gradient(45deg, rgb(235, 12, 124), rgb(228, 243, 16)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.align-card {
    /* margin-left: 50%;      
  margin-right: 50%;
  width: auto; */
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.member-social-media {
    padding: 10px 16px;
}

.member-social-media-cc {
    padding: 10px 16px;
}

.member-social-media-oc {
    padding: 10px 16px;
}

.member-social-media-oc i,
.member-social-media-cc i,
.member-social-media i {
    color: black;
    margin: 5px;
    border-radius: 50%;
    border-color: blue;
}

.member-social-media a,
.member-social-media-cc a,
.member-social-media-oc a {
    color: white;
}

.member-card-body {
    padding: 20px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}


/* footer.page-footer,
.page-footer
{
  margin-top: 80px;
  background-image: linear-gradient(to bottom,#fdfeff,#d3dff1,#a6c1e9);
} */

@media screen and (max-width: 1180px) {
    .team-cards {
        grid-template-columns: repeat(3, 280px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(3, 250px);
    }
    .member-images {
        border-radius: 100px;
        width: 140px;
        height: 140px;
        left: 55px;
    }
    .members-cards {
        width: 250px !important;
    }
    .members-cards-year2,
    .members-cards-year3 {
        width: 280px !important;
    }
}

@media screen and (max-width: 945px) {
    .team-cards {
        grid-template-columns: repeat(2, 350px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(3, 250px);
    }
    .member-images {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 50px;
    }
    .members-cards {
        width: 250px !important;
    }
    .members-cards-year2,
    .members-cards-year3 {
        width: 350px !important;
    }
}

@media screen and (max-width: 880px) {
    .team-cards,
    .team-cards-responsive {
        grid-template-columns: repeat(2, 300px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(3, 230px);
    }
    .member-images {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 50px;
    }
    .member-images-year2,
    .member-images-year3 {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 97px;
    }
    .members-cards {
        width: 230px !important;
    }
    .members-cards-year2,
    .members-cards-year3 {
        width: 300px !important;
    }
}

@media screen and (max-width: 800px) {
    .team-cards,
    .team-cards-responsive {
        grid-template-columns: repeat(1, 360px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(2, 300px);
    }
    .member-images {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 75px;
    }
    .member-images-year2,
    .member-images-year3 {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 106px;
    }
    .members-cards {
        width: 300px !important;
    }
    .members-cards-year2,
    .members-cards-year3 {
        width: 360px !important;
    }
}

@media screen and (max-width: 680px) {
    .team-cards,
    .team-cards-responsive {
        grid-template-columns: repeat(1, 300px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(1, 210px);
    }
    .member-images {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 40px;
    }
    .member-images-year2,
    .member-images-year3 {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 87px;
    }
    .members-cards {
        width: 210px !important;
    }
    .members-cards-year2,
    .members-cards-year3 {
        width: 300px !important;
    }
}