.heading{
  text-align:center;
}

.team-heading{
  text-align:center;
  padding-top: 60px;
}

.team-cards-responsive{
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-gap: 40px;
  justify-content: center;
  padding: 10px;
  padding-top: 40px;
}

.team-cards{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 40px;
  padding-top: 40px;
  justify-content: center;
}

.members-cards,
.members-cards-year2,
.members-cards-year3{
  width: 350px !important;
  margin-top: 80px;
  height: 250px;
}

.members-cards .card,
.members-cards-year2 .card,
.members-cards-year3 .card{
  border-radius: 5px;
  background-color: #FFF;
  /* min-height: 220px; */
}

.members-cards .card{
  border-radius: 8px;
  box-shadow: 5px 12px 18px #863fc0;
}

.members-cards-year2 .card{
  border-radius: 8px;
  box-shadow: 5px 12px 18px #B23850;
}

.members-cards-year3 .card{
  border-radius: 8px;
  box-shadow: 5px 12px 18px #fd7e14;
}

.members-cards .card:hover{
  box-shadow: 5px 12px 18px #863fc0c5;
}
.members-cards-year2 .card:hover{
  box-shadow: 5px 12px 18px #e05a75;
}
.members-cards-year3 .card:hover{
  box-shadow: 5px 12px 18px #fd7d14d7;
}

.card-title{
  font-size: 100%;
  text-align: center;
  margin-top: 3%;
  margin-left: -1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kronos-teampage .navbar{
  background: #fafafa;
}

.kronos-teampage .kronos-page-container{
  padding-top: 140px;
}

/* .kronos-teampage .navbar .container-fluid {
  padding: 0 90px;
} */

.member-images-year3{
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  left: 75px;
  object-fit: cover;
  box-shadow: 6px 4px 18px #fd7e14;
}

.member-images-year2{
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  left: 75px;
  object-fit: cover;
  box-shadow: 6px 4px 18px #B23850;

}

.member-images{
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  left: 90px;
  object-fit: cover;
  box-shadow: 6px 4px 18px #863fc0;

}
.align-card{
  /* margin-left: 50%;      
  margin-right: 50%;
  width: auto; */
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-gap: 40px;
  justify-content: center;
  padding: 10px;
  padding-top: 40px;
}
.member-social-media {
  position: absolute;
  right: 0;
  display: grid;
  grid-gap: 5px;
  background: #f7941e;
  border-radius: 0 0 0 5px;
  padding: 10px 16px;
}
.member-social-media-cc {
  position: absolute;
  right: 0;
  display: grid;
  grid-gap: 5px;
  background: #B23850;
  border-radius: 0 0 0 5px;
  padding: 10px 16px;
}

.member-social-media-oc {
  position: absolute;
  right: 0;
  display: grid;
  grid-gap: 5px;
  background: #863fc0;
  border-radius: 0 0 0 5px;
  padding: 10px 16px;
}

.member-social-media a,
.member-social-media-cc a,
.member-social-media-oc a{
  color: white;
}

.member-card-body{
  padding: 20px;
  padding-top: 100px;
}

/* footer.page-footer,
.page-footer
{
  margin-top: 80px;
  background-image: linear-gradient(to bottom,#fdfeff,#d3dff1,#a6c1e9);
} */


@media screen and (max-width: 1180px){
  .team-cards{
    grid-template-columns: repeat(3, 300px);
  }

  .member-images{
    border-radius: 100px;
    width: 140px;
    height: 140px;
    left: 55px;
  }

  .members-cards{
    width: 300px !important;
  }

  .card-title{
    margin-left: -2.5rem;  
  }

}

@media screen and (max-width: 940px){
  .team-cards{
    grid-template-columns: repeat(2, 350px);
  }

  .member-images{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    left: 75px;
  }

  .members-cards{
    width: 350px !important;
  }

  .card-title{
    margin-left: -3rem;  
  }
}

@media screen and (max-width: 820px){
  .team-cards,
  .team-cards-responsive{
    grid-template-columns: repeat(2, 300px);
  }

  .member-images,
  .member-images-year2,
  .member-images-year3{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    left: 55px;
  }

  .members-cards,
  .members-cards-year2,
  .members-cards-year3{
    width: 300px !important;
  }

  .card-title{
    margin-left: -3.5rem;  
  }
}

@media screen and (max-width: 700px){
  .team-cards,
  .team-cards-responsive{
    grid-template-columns: repeat(1, 360px);
  }

  .member-images,
  .member-images-year2,
  .member-images-year3{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    left: 80px;
  }

  .members-cards,
  .members-cards-year2,
  .members-cards-year3{
    width: 360px !important;
  }
}

@media screen and (max-width: 480px){
  .team-cards,
  .team-cards-responsive{
    grid-template-columns: repeat(1, 300px);
  }

  .member-images,
  .member-images-year2,
  .member-images-year3{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    left: 55px;
  }

  .members-cards,
  .members-cards-year2,
  .members-cards-year3{
    width: 300px !important;
  }
}