.heading{
  text-align:center;
}

.team-heading{
  text-align:center;
  padding-top: 60px;
}

.team-cards-year3{
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-gap: 40px;
  justify-content: center;
  padding: 10px;
  padding-top: 40px;
}

.team-cards{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 40px;
  padding-top: 40px;
  justify-content: center;
}

.members-cards,
.members-cards-year3{
  width: 350px !important;
  margin-top: 80px;
  height: 250px;
}

.kronos-teampage .navbar{
  background: #fafafa;
}

.kronos-teampage .kronos-page-container{
  padding-top: 140px;
}

.kronos-teampage .navbar .container-fluid {
  padding: 0 90px;
}

.member-images,
.member-images-year3{
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  left: 75px;
}

.member-social-media {
  position: absolute;
  right: 0;
  display: grid;
  grid-gap: 5px;
  background: #f7941e;
  border-radius: 0 0 0 5px;
  padding: 10px 16px;
}

.member-social-media a{
  color: white;
}

.member-card-body{
  padding: 20px;
  padding-top: 100px;
}

.page-footer{
  margin-top: 80px;
}

@media screen and (max-width: 1180px){
  .team-cards{
    grid-template-columns: repeat(3, 300px);
  }

  .member-images{
    border-radius: 100px;
    width: 140px;
    height: 140px;
    left: 55px;
  }

  .members-cards{
    width: 300px !important;
  }
}

@media screen and (max-width: 940px){
  .team-cards{
    grid-template-columns: repeat(2, 350px);
  }

  .member-images{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    left: 75px;
  }

  .members-cards{
    width: 350px !important;
  }
}

@media screen and (max-width: 820px){
  .team-cards,
  .team-cards-year3{
    grid-template-columns: repeat(2, 300px);
  }

  .member-images,
  .member-images-year3{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    left: 55px;
  }

  .members-cards,
  .members-cards-year3{
    width: 300px !important;
  }
}

@media screen and (max-width: 700px){
  .team-cards,
  .team-cards-year3{
    grid-template-columns: repeat(1, 360px);
  }

  .member-images,
  .member-images-year3{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    left: 80px;
  }

  .members-cards,
  .members-cards-year3{
    width: 360px !important;
  }
}

@media screen and (max-width: 480px){
  .team-cards,
  .team-cards-year3{
    grid-template-columns: repeat(1, 300px);
  }

  .member-images,
  .member-images-year3{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    left: 55px;
  }

  .members-cards,
  .members-cards-year3{
    width: 300px !important;
  }
}