.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.team-heading {
    text-align: center;
    /*padding-top: 60px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#team_heading_ac{
    padding-top: 80px ;
}

.team-cards-responsive {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.team-cards-responsive-oc {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}

.last_four_cc_cards{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}
.team-cards-oc {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}

.members-cards {
    width: 250px !important;
    margin-top: 80px;
    height: 250px;
    text-align: center;
}

.members-cards-year2 {
    width: 200px;
    margin-top: 80px;
    height: 250px;
    text-align: center;
}


/* #member_card_year_2_cc{
    padding-top:80px;
} */

/* .last_four_cc_cards{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
} */

.members-cards-year3{
    width: 360px;
    margin-top: 80px;
    height: 250px;
    text-align: center;
}

.members-cards .card,
.members-cards-year2 .card,
.members-cards-year3 .card {
    border-radius: 5px;
    background-color: #FFF;
    /* min-height: 220px; */
}

.members-cards .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
}

.members-cards-year2 .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
}

.members-cards-year3 .card {
    border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5);
}

.members-cards .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
}

.members-cards-year2 .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
}

.members-cards-year3 .card:hover {
    border-radius: 20px;
    box-shadow: 0 7px 30px 2px rgb(172 179 191);
}

.card-title {
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
}

.kronos-teampage .navbar {
    background: #fafafa;
}

.navbar{
    background-image: linear-gradient(356deg,#182b5c,#1741b5, #1f7ecf) !important;
}

.kronos-teampage .kronos-page-container {
    padding-top: 140px;
}

.member-images-year3 {
    border: 7.5px solid transparent;
    border-radius: 100px;
    top: -70px;
    left: 102px;
    width: 160px;
    height: 160px;
    position: absolute;
    object-fit: cover;

    background: linear-gradient(63deg,rgb(111 31 200),rgb(238 84 250),rgb(51 210 246),rgb(53 31 217)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.member-images-year2 {
    /* border: 4px; */
    border: 6.5px solid transparent;
    border-radius: 100px;
    top: -70px;
    left: 42px;
    width: 120px;
    height: 120px;
    position: absolute;
    object-fit: cover;
    background: linear-gradient(45deg, rgb(50, 21, 216), rgb(12, 230, 84)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.member-images {
    border: 6.5px solid transparent;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: -70px;
    object-fit: cover;
    background: linear-gradient(30deg,#3a09c8, #e15ffa 60%, #ff6cb3, #f705db) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.align-card {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.member-social-media {
    padding: 10px 16px;
}

.member-social-media-cc {
    padding: 10px 16px;
}

.member-social-media-oc {
    padding: 10px 16px;
}

.member-social-media-oc i,
.member-social-media-cc i,
.member-social-media i {
    color: black;
    margin: 5px;
    border-radius: 50%;
    border-color: blue;
}

.member-social-media a,
.member-social-media-cc a,
.member-social-media-oc a {
    color: white;
}

.member-card-body {
    padding: 20px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.end-responsive{
    display: grid;
    width:1000px;
    margin-left: 0 !important;
    grid-template-columns: repeat(4,250px);
    grid-gap: 40px;
    padding-top: 40px;
    justify-content: center;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 13px;
  color:rgb(100, 100, 100);    
  border-radius: 20px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
*::-webkit-scrollbar-track{
    color: rgba(0, 0, 0, 0.159);
    box-shadow: inset 0 0 0 10px;

}

@media screen and (min-width: 1181px){
    .team-cards-oc :nth-child(9){
        margin-left: 280px;
    }
    .team-cards-oc :nth-child(10){
        margin-left: 280px;
    }
    /* .team-cards-oc :nth-child(11){
        margin-left: 58%;
    } */
}


@media screen and (min-width: 881px) and (max-width: 1180px) {
    .team-cards {
        grid-template-columns: repeat(5, 110px);
        grid-gap: 65px;
        padding-right: 20px;
    }
    .team-cards-oc {
        grid-template-columns: repeat(4, 190px);
    }
    .last_four_cc_cards{
        grid-template-columns: repeat(4,120px);
        grid-gap: 65px;
        padding-right: 32px;
        padding-top: 65px;
    }
    .member-images {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 37px;
    }
    .member-images-year2 {
        border-radius: 100px;
        width: 120px;
        height: 120px;
        left: 15px;
    }
    /* .member-card-body{
        padding-top: 62px;
    } */
    
    .member-images-year3 {
      left: 100px;
    }
    /* .member-images-year2{
        left: 42px;
    } */

    .members-cards {
        width: 200px !important;
    }
    
    .members-cards-year3 {
        width: 350px !important;
    }
    .members-cards-year2{
        width: 150px !important;
        font-size: 70%;
        height: 180px;
    }
}

@media screen and (max-width: 880px) {
    .team-cards,
    .team-cards-responsive {
        grid-template-columns: repeat(2, 300px);
    }

    .team-cards{
        grid-template-columns: repeat(2,300px);
        padding-left: 35px;
    }    
    .last_four_cc_cards{
        grid-template-columns: repeat(2,300px);
        padding-left: 35px;
    }

    .team-cards-responsive-oc{
        grid-gap:40px;
        grid-template-columns: repeat(3, 230px);

    }
    .team-cards-oc{
        grid-template-columns: repeat(2, 280px);
    }
    .member-images {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 73px;
    }
    
    .member-images-year3 {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 85px;
    }

    .member-images-year2{
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 60px;
    }
    .members-cards {
        width: 280px !important;
    }
    
    .members-cards-year3 {
        width: 300px !important;
    }
    .members-cards-year2{
        width: 270px !important;   
    }
}

@media screen and (max-width: 800px) {
    .team-cards,
    .team-cards-responsive {
        grid-template-columns: repeat(2, 280px);
    }

    .last_four_cc_cards{
        grid-template-columns: repeat(2, 280px);
    }
    .team-cards-responsive-oc {
        grid-template-columns: repeat(2, 300px);
        grid-gap: 45px;

    }
    .team-cards-oc {
        grid-template-columns: repeat(2, 300px);
    }
    .member-images {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 75px;
    }
    .member-images-year2{
        left: 75px;
    }
    .member-images-year3 {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 75px;
    }
    .members-cards {
        width: 300px !important;
    }
    .members-cards-year2{
        width: 280px !important;
    }
    .members-cards-year3 {
        /* width: 360px !important; */
        width: 300px;
    }
/*  */
    .end-responsive{
        display: grid;
        grid-template-columns: 500px 500px 500px;
        /* grid-template-columns: repeat(1, 300px); */
        /* margin-left:170px; */
        margin-left: 0;

    }

    .members-cards .card {
        border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5)
    } 
     .members-cards-year2 .card {
        border-radius: 20px;
    box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5)
    } 
}

@media screen and (max-width: 680px) {
    .team-cards-responsive {
        grid-template-columns: repeat(2, 300px);
    }
    .team-cards-responsive-oc {
        grid-template-columns: repeat(2, 210px);
    }
    .team-cards-oc {
        grid-template-columns: repeat(2, 210px);
    }
    .team-cards{
        grid-template-columns: repeat(2, 210px);
    }
    .last_four_cc_cards{
        grid-template-columns: repeat(2, 210px);
    }
    .member-images {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 40px;
    }
    
    .member-images-year3 {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 87px;
    }
    .members-cards {
        width: 210px !important;
    }
    
    .members-cards-year3 {
        width: 300px !important;
    }
    .members-cards-year2{
        width: 210px !important;
    }
    .member-images-year2{
        border-radius: 100px;
        width: 130px;
        height: 130px;
        left: 40px;
    }

    .end-responsive{
        margin:0;
    }
    .members-cards .card {
        border-radius: 20px;
        box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5)
    } 
    .members-cards-year2 .card {
        border-radius: 20px;
        box-shadow: 0 7px 30px 5px rgba(150, 170, 180, 0.5)
    }   
    #team_heading_ac{
        padding-top: 110px;
    }
}

@media screen and (max-width: 426px) {
    .team-cards-responsive{
        grid-template-columns: repeat(1,290px);
        column-gap: 35px;
        row-gap: 0px;
    }
    .team-cards-oc{
        grid-template-columns: repeat(2, 160px);
        column-gap: 35px;
        row-gap: 0px;
    }
    .team-cards{
        grid-template-columns: repeat(2, 160px);
        column-gap: 35px;
        row-gap: 0px;
    }
    .last_four_cc_cards{
        grid-template-columns: repeat(2, 160px);
        column-gap: 35px;
        row-gap: 0px;
    }
    .members-cards{
        width: 160px !important;
        height: 215px;
    }
    .members-cards-year2 {
        width: 160px !important;
        height: 215px;
    }
    .member-images-year2{
        width: 120px;
        left: 20px;
        height: 120px;
        top: -60px;
    }
    .members-cards .card {
        border-radius: 0;
        box-shadow: none;
        border-color: white;
    } 
    .members-cards-year2 .card {
        border-radius: 0;
        box-shadow: none;
        border-color: white;
    } 
    .member-images{
        width: 120px;
        left: 20px;
        height: 120px;
        top: -60px;
    }
    .member-card-body{
        padding: 80px 0 0 0;
    }

    .team-cards-responsive-oc{
        grid-template-columns: repeat(2, 160px);
    }
    #team_heading_ac{
        padding-top: 40px ;
    }

    .end-responsive{
        margin-left: 65%;
    }
}

@media screen and (max-width: 320px){
    .team-cards-responsive{
        grid-template-columns: repeat(1, 300px);
        column-gap: 0;
    }
    .team-cards-oc{
        grid-template-columns: repeat(2, 150px);
        column-gap: 0;
    }
    .team-cards{
        grid-template-columns: repeat(2, 150px);
        column-gap: 0;
    }
    .last_four_cc_cards{
        grid-template-columns: repeat(2, 150px);
        column-gap: 0;
    }
    .members-cards-year2{
        width: 150px !important;
    }
    .members-cards{
        width: 150px !important;
    }
    .member-images-year2{
        width: 110px;
        height: 110px;
    }
    .members-cards-year3{
        width: 280px;
        margin-top: 80px;
        height: 200px;
        text-align: center;
    }
    .member-images{
        width: 110px;
        height: 110px;
    }
    .members-cards .card {
        border-radius: 0;
        box-shadow: none;
        border-color: white;
    } 
     .members-cards-year2 .card {
        border-radius: 0;
        box-shadow: none;
        border-color: white;
    } 
    .members-cards-year3 .card {
        border-radius: 0;
        box-shadow: none;
        border-color: white;
    } 
    #team_heading_ac{
        font-size: 19px;
        padding-top: 60px;
    }
    #team_heading_cc{
        font-size: 19px;
        padding-top: 0px;
    }
}

